@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
.img{
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    height: 400px;
    width: 400px;
    margin: 40px;
}

nav{
    margin: 0px 70px;
    margin-top: 100px;
    font-family: 'Baloo 2', 'sans-serif';    
    font-size: 20px;
    font-weight: 700;
}

.underline{
    text-decoration-line: underline;
}